@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* galeri section styling */
.galeri {
  /* display: flex; */
  background: url(../img/munawir.jpg) no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
}
.galeri-content .text,
.galeri-content .text2 {
    padding-top: 2rem;
    margin: 0px 0 20px 0;
}
.galeri-content .text a,
.galeri-content .text2 a {
    font-size: 35px;
    font-weight: 500;
    color: rgb(220, 133, 20);
    transition: all 0.3s ease;
}
.galeri-content .text a:hover,
.galeri-content .text2 a:hover {
    color: #fff;
}
.galeri .carousel .card {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  padding: 25px 35px;
}
.galeri .carousel .card .box {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.galeri .carousel .card .title {
  margin: 10px;
}
.galeri .carousel .card img {
  width: 250px;
  object-fit: cover;
  border: 2px solid rgb(220, 133, 20);
}
.owl-dots {
    text-align: center;
    margin-top: 20px;
}
.owl-dot {
    height: 13px;
    width: 13px;
    margin: 05px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid rgb(220, 133, 20) !important;
    transition: all 0.3s ease;
}
.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
    background: rgb(220, 133, 20) !important;
}

/* responsive  */
@media (max-width: 900px) {
  .max-width {
    padding: 0 20px;
  }
}
@media (max-width: 400px) {
  .max-width {
    padding: 0 20px;
  }
  .navbar .logo1 a {
    font-size: 25px;
  }
 
.galeri-content .text a,
.galeri-content .text2 a {
    font-size: 25px;
}
}
